:root {
  --p-orange: #f6bd60;
  --p-white: #f7ede2;
  --p-pink: #f5cac3;
  --p-gray: #84a59d;
  --p-d-pink: #f28482;
  --d-purple: #8093F1;
}
img{
  width: 300px;
  height: 300px;
}
body{
  margin: 0;
  background-color: var(--p-white);
  font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
  display:flex;
  list-style-type: none;
  gap: 30px;
}
.nav-bar li {
  padding-right: 10px;
}
.nav-div {
  display:flex;
  align-items: center;
  flex-direction: column;
}
nav {
  background-color: var(--p-orange);
  padding: 5px 0px;
}
.round {
  border-radius: 100%;
  /*overflow: hidden;*/
}
.center-apart {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.main {
  width: 400px;
  height: 400px;
}
section {
  padding: 120px 0;
}
#banner {
  background-color: var(--p-pink);
  position: relative;
}
.contained {
  object-fit: cover;
  width:100%;
  height:100%;
}
.bubble-img {
  display:flex;
}
.bubble-img div{
  margin: -30px;
}
.intro-main-text {
  color: var(--d-purple);
  font-size: 50px;
  margin: 0;
  border-bottom: 4px var(--d-purple) solid;
}
.intro-sub-text {
  font-size: 30px;
  margin: 0;
  border-top: 4px black solid;
}
.nav-bar li a{
  font-size: 20px;
  color: black;
  text-decoration: none;
}
#float-carousel {
  /*background-color: aliceblue;*/
  padding: 40px 0;
}
.text-div {
  padding: 20px;
  display: inline-block;
}
.crop {
  overflow:hidden;
  padding: 50px 0;
  height: 280px;
}
.reel {
  display:flex;
  /*gap: 40px;*/
}
.float-caro-div {
  /*transition: 30s transform linear;
  20s slide-left-infinite infinite alternate linear

  */
}

.float-caro-div:nth-child(even) {
  animation: 4s bob infinite alternate linear;
}
.float-caro-div:nth-child(odd) {
  animation: 4s bob infinite alternate-reverse linear;
}
.slide-anim-img {
  position:relative;
  left: 0;
  top: 0;
  border-radius: 15px;
}
@keyframes bob {
  from {
    translate: 0 20px;
  }
  to {
    translate: 0 -20px;
  }
}