:root {
  --p-orange: #f6bd60;
  --p-white: #f7ede2;
  --p-pink: #f5cac3;
  --p-gray: #84a59d;
  --p-d-pink: #f28482;
  --d-purple: #8093F1;
}
img{
  width: 300px;
  height: 300px;
}
body{
  margin: 0;
  background-color: var(--p-white);
  font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
  display:flex;
  list-style-type: none;
  gap: 30px;
  margin: 0;
  padding:0;
}
.nav-bar a{
  display:block;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  z-index:0;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.nav-bar a li{
  display:block;
}
.navbar-select {
  width: 100px;
  border-radius: 10px;
  background-color:var(--p-d-pink);
  display:block;
  height: 50px;
  position: absolute;
  transition: 0.5s transform;
}
.nav-div {
  display:flex;
  align-items: center;
  flex-direction: column;
}
.navbar-div {
  padding: 20px 0 10px 0;
  position: relative;
}
nav {
  background-color: var(--p-orange);
  padding: 5px 0px;
}
.round {
  border-radius: 100%;
}
.center-apart {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.main {
  width: 400px;
  height: 400px;
}
section {
  padding: 120px 0;
}
#banner {
  background-color: var(--p-pink);
  position: relative;
}
.contained {
  object-fit: cover;
  width:100%;
  height:100%;
}
.bubble-img {
  display:flex;
}
.bubble-img div{
  margin: -30px;
}
.intro-main-text {
  color: var(--d-purple);
  font-size: 50px;
  margin: 0;
  border-bottom: 4px var(--d-purple) solid;
}
.intro-sub-text {
  font-size: 30px;
  margin: 0;
  border-top: 4px black solid;
}

#float-carousel {
  padding: 40px 0;
}
.text-div {
  padding: 20px;
  display: inline-block;
}
.crop {
  overflow:hidden;
  display:flex;
  padding: 50px 0;
  height: 280px;
}
.crop > * {
  display:flex;

}
.float-caro-div-even {
  animation: 4s bob infinite alternate linear;
  margin-right: 30px;
}
.float-caro-div-odd {
  animation: 4s bob infinite alternate-reverse linear;
  margin-right: 30px;
}
.vertical-center {
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#pause {
  background-color: var(--p-white);
  border: var(--d-purple) 4px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.slide-anim-img {
  object-fit: cover;
  border-radius: 15px;
}
.caro-head {
  display:flex;
}
@keyframes bob {
  from {
    translate: 0 10px;
  }
  to {
    translate: 0 -10px;
  }
}
@keyframes slide-left {
  from {
    translate: 0 0;
  }
  to {
    translate: -100% 0;
  }
}